/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'BPG WEB 001 Caps';
  src: url("../fonts/bpg-web-001-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'BPG Arial';
  src: url("../fonts/bpg-arial-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-arial-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-arial-webfont.woff2") format("woff2"), url("../fonts/bpg-arial-webfont.woff") format("woff"), url("../fonts/bpg-arial-webfont.ttf") format("truetype"), url("../fonts/bpg-arial-webfont.svg#bpg_arialregular") format("svg");
  /* Legacy iOS */ }
* {
  font-family: 'BPG WEB 001 Caps'; }

/*$en-title: $mark-bold;
$en-text : $mark;

$ge-title: $mark-bold;
$ge-text : $mark;

$default-title: $ge-title;
$default-text: $ge-text;





@mixin family($name) {
    @if($name == "title"){
        font-family: $default-title, sans-serif;

        &:lang(en){
            font-family: $en-title, sans-serif;
        }
        &:lang(ka){
            font-family: $ge-title, sans-serif;
        }
    }
    @if($name == "text"){
        font-family: $default-text, sans-serif;

        &:lang(en){
            font-family: $en-text, sans-serif;
        }
        &:lang(ka){
            font-family: $ge-text, sans-serif;
        }
    }
  
}
*/
.bg_white {
  background-color: #F2EFDF; }

.common_container {
  max-width: 1100px;
  margin: 0 auto; }

.p_bottom50 {
  padding_bottom: 50px; }

.main_banner {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/slidshow.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main_banner .main_banner_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .main_banner .main_banner_info h1 {
      color: #fff;
      font-size: 42px; }
    .main_banner .main_banner_info .banner_links {
      margin-top: 20px;
      display: flex; }
      .main_banner .main_banner_info .banner_links .common_button.blue {
        margin-right: 10px; }

.common_text_jumbotron {
  padding: 55px 20px 120px 20px; }
  .common_text_jumbotron .jumbotron_wrapper {
    max-width: 1080px;
    margin: 0 auto; }
  .common_text_jumbotron .jumbotron_title {
    text-align: center;
    margin-bottom: 15px; }
    .common_text_jumbotron .jumbotron_title h2 {
      font-size: 32px; }
  .common_text_jumbotron * {
    color: #2C3E50; }
  .common_text_jumbotron .jumbotron_text * {
    font-family: "BPG Arial"; }
  .common_text_jumbotron.blue_jumbotron {
    background-color: #57A3C2; }
    .common_text_jumbotron.blue_jumbotron * {
      color: #fff; }
  .common_text_jumbotron.yellow_jumbotron {
    background-color: #F8C934;
    padding: 100px 20px 100px 20px; }
    .common_text_jumbotron.yellow_jumbotron h2 {
      color: #494949; }
    .common_text_jumbotron.yellow_jumbotron * {
      color: #fff; }
    .common_text_jumbotron.yellow_jumbotron .jumbotron_wrapper {
      max-width: 530px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.course_name_wrapper {
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap; }
  .course_name_wrapper > div {
    flex: 0 0 50%;
    max-width: 50%; }
  .course_name_wrapper .course_name_img img {
    width: 100%;
    object-fit: cover;
    height: 560px; }
  .course_name_wrapper .course_name_info_wrapper {
    padding: 30px 35px 50px 35px;
    background-color: #fff; }
  .course_name_wrapper .favourite_course * {
    color: #2980B9; }
  .course_name_wrapper .course_name {
    margin-bottom: 20px; }
    .course_name_wrapper .course_name * {
      font-size: 28px;
      color: #2C3E50; }
  .course_name_wrapper .course_description {
    font-family: "BPG Arial";
    color: #2C3E50; }
    .course_name_wrapper .course_description * {
      font-family: "BPG Arial";
      color: #2C3E50; }

.course_link {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px; }
  .course_link * {
    color: #2C3E50; }
  .course_link a {
    display: flex; }
    .course_link a svg {
      margin-left: 10px; }

.jumbotron_title {
  text-align: center;
  margin-bottom: 15px; }
  .jumbotron_title h2 {
    font-size: 32px;
    color: #2C3E50; }

.rate_fluid {
  background-color: #fff;
  padding: 50px 10px 120px 10px; }
  .rate_fluid .rate_slider_wrapper .rate_slider_container {
    max-width: 800px;
    margin: 0 auto;
    position: relative; }
    .rate_fluid .rate_slider_wrapper .rate_slider_container .slick_left_arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      left: -60px;
      cursor: pointer; }
    .rate_fluid .rate_slider_wrapper .rate_slider_container .slick_right_arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      right: -60px;
      cursor: pointer; }
  .rate_fluid .rate_slider_wrapper .rate_slider {
    width: 100%; }
    .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item {
      display: flex;
      padding-top: 20px; }
      .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_slider_left_item .rate_slider_text {
        font-family: "BPG Arial";
        color: #2C3E50; }
        .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_slider_left_item .rate_slider_text * {
          font-family: "BPG Arial";
          color: #2C3E50; }
      .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_name {
        width: 100%;
        text-align: center;
        margin-top: 30px; }
        .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_name * {
          color: #2C3E50; }
        .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_name span {
          position: relative; }
          .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_name span:after {
            content: "";
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            left: -65px;
            width: 50px;
            background-color: #2C3E50;
            height: 1px; }
          .rate_fluid .rate_slider_wrapper .rate_slider .rate_slider_item .rate_name span:before {
            content: "";
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            right: -65px;
            width: 50px;
            background-color: #2C3E50;
            height: 1px; }
  .rate_fluid .rate_slider_img {
    width: 260px;
    height: 260px;
    flex: 0 0 260px;
    overflow: hidden;
    border-radius: 50%;
    transform: translateY(-10px); }
    .rate_fluid .rate_slider_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.home_main_wrapper {
  padding-bottom: 50px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; }
  .header .logo {
    display: none; }
  .header.toggle .logo {
    display: block; }
  .header.toggle .white_logo {
    display: none; }
  .header nav ul {
    display: flex; }
  .header nav li:not(:last-child) {
    margin-right: 35px; }
  .header nav li a {
    font-family: "BPG WEB 001 Caps";
    font-size: 18px;
    color: #fff; }
  .header .header_form {
    display: flex;
    align-items: center; }
    .header .header_form a {
      color: #fff; }
    .header .header_form .auth_box {
      margin-left: 33px; }
      .header .header_form .auth_box a {
        background-color: #57A3C2;
        padding: 13px 15px 10px 14px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header .header_form .auth_box a span {
          margin-left: 5px; }

footer {
  background-color: #494949; }

.common_button a {
  color: #fff;
  border-radius: 10px; }
.common_button.transparent a {
  padding: 11px 12px 6px 12px;
  border: 1px solid #fff; }
.common_button.blue a {
  padding: 12px 12px 8px 12px;
  background-color: #57A3C2; }
.common_button.brown a {
  padding: 12px 12px 8px 12px;
  background-color: #BF5B04; }

/*# sourceMappingURL=main.css.map */
