

$yellow:#F8C934;
$blue:#57A3C2;
$red:#BF5B04;
$black:#494949;
$white:#F2EFDF;
$textcolor:#2C3E50;


.bg_white {
	
	background-color:#F2EFDF;
}

.common_container {
	
	max-width:1100px;
	margin:0 auto;
}
.p_bottom50 {
	
	padding_bottom:50px;
}