
.common_button {

	
	
	a {
	    color: #fff;
   
    border-radius: 10px;
	}
	&.transparent {

		a {
			 padding: 11px 12px 6px 12px;
		border: 1px solid #fff;
		}
	}

	&.blue {
		a {
			 padding: 12px 12px 8px 12px;
		background-color: $blue;
		}
	}

	&.brown {
		a {
			 padding: 12px 12px 8px 12px;
		background-color: #BF5B04;
		}
	}
}